/*Header Styles*/
.header{
    background-color:#D8D8D8;
}

img {
    padding:10px 30px;
    width:150px;
}
 
.title{
    color:#4A4A4A;
    font-family: "Arial", "sans-serif";
    font-size:36px;
    padding-top:20px;
}

  
  /* List Styles*/
  ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #D8D8D8;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color:#4A4A4A;
    font-weight: bold;
    list-style-type: none;
    width: 681px;
    border-bottom: 1px solid #4A4A4A;
  }
  

  /* On click strike out text */
  ul li.check {
    text-decoration: line-through;
  }
  .checkbox {
      margin-right: 10px;
  }
  

  /*Input Styles*/
  
  .todoInput {
      border-radius: 4px;
      width: 400px;
      font-family: 'Arial', sans-serif;
      padding-left:10px;
  }

  .input-group {
      margin-top:30px;
      margin-bottom:10px;
  }

  
/* Add Button Styles */
  .addBtn{
    background-color:#9B9B9B;
    color:#ffffff;
    border-radius:4px;
    font-family: 'Arial', sans-serif;
    font-size:20px;
    width: 240px;
    font-weight: bold;
    margin-left: 30px;
    padding:3px;
    border:none;
}

  
  .addBtn:hover {
    background-color: #bbb;
  }

/* Media queries*/

@media only screen and (max-width:1199px) {
    .addBtn{
        width: 220px;
        margin-left:180px;
    }
    ul li {
        width:400px;
      }
    
}

@media only screen and (max-width:991px) {
    .addBtn{
        width: 200px;
        margin-left:150px;
        margin-top:10px;
    }
    ul li {
        width:359px;
      }

}

@media only screen and (max-width:767px) {
    ul li {
        width:260px;
      }
  
    
}

@media only screen and (max-width:575px) {
    .addBtn{
        width: 200px;
        margin-left:90px;
    }

    ul li {
        width:200px;
      }


  
}